pipeline/Day2.json
{
	"name": "Day2",
	"properties": {
		"activities": [
			{
				"name": "Lookup cut_off",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select CONVERT(VARCHAR, [Cutoff Time], 126) as cutoff\nfrom Integration.[ETL Cutoff]\nwhere [Table Name]='Stock Item'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Integration_ETLCutoff",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set cut_off",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup cut_off",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "cut_off_time_v",
					"value": {
						"value": "@string(subtractFromTime(activity('Lookup cut_off').output.firstRow.cutoff,1,'Year'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set cut_off",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Day2 Data flow",
						"type": "DataFlowReference",
						"parameters": {
							"cut_off_para": {
								"value": "'@{variables('cut_off_time_v')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"cut_off_time_v": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-12T18:14:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}